<!--
Stefan Tan
SoftDev1 pd6
K26 -- Getting More REST 
2018-11-15
-->

<!DOCTYPE html>
<html>
  <head>
    <title>Fun Things to Do</title>
  </head>
  <body>
    <h1>Bored? Here are some fun things to do!</h1>
    <h2>Read a Poem!</h2>
    <h3>{{ ptitle }} by {{ poet }}</h3>
    <p>{{ pcontent }}</p>
    
    <h2>Look at Dog Pictures!</h2>
    <h3>Here is a random dog picture for you!</h3>
    <img src="{{ dogpic }}">

    <h2>If you are still bored...</h2>
    <h3>Here is a random activity for you to do!</h3>
    <p>{{ a }}</p>
    <p>It only requires {{ peeps }} person/people and it is a good {{ t }} work!</p>
  </body>
</html>
